 body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
 

 body{
    background-image: url(istockphoto-2181920325-640x640.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
 
.banner{
    width:80%;
    height: 215px;
}


nav a{
    width: 23.56%;
    background-color: black;
    color: white;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding: 8px;
    
}
nav a:hover{
    background-color:pink;
    color:blanchedalmond;
  transition: 2s;
}




footer{
    
    padding: 4px;
    color: white;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    -ms-flex-item-align: end;
}
footer p{
    text-align:  center;
    width: auto;
    color:  thistle;
}

.imag{
    width: 25%;
    height: 200px;
    object-fit: cover;
}

p{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
    font-size: medium;
    text-align: center;
}