 body{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
 

 body{
    background-image: url(istockphoto-2181920325-640x640.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}
 
.banner{
    width:80%;
    height: 215px;
}

nav a {
  width: 23.56%;
  background-color: #000;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 10px 8px;
   font-family: 'Playfair Display', serif;
  letter-spacing: 0.5px;
  font-weight: 600;
  /* Transición suave */
  transition: 
    background-color 0.4s ease,
    color 0.4s ease,
    transform 0.3s ease;
      border-radius: 6px;
       display: inline-block;
        flex-wrap: nowrap; /* NO permitir salto de línea */
          flex: 0 0 25%;       /* SIEMPRE 4 iguales */
            box-sizing: border-box; /* CLAVE */
            align-items: center;
            justify-content: center;

}

/* Hover */
nav a:hover {
  background-color: #ffb6c1; /* rosa más elegante */
  color: #3a0f1c;
  transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(255, 182, 193, 0.4);
}





footer{
    
    padding: 4px;
    color: white;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    -ms-flex-item-align: end;
}
footer p{
    text-align:  center;
    width: auto;
    color:  thistle;
}

.imag{
    width: 25%;
    height: 200px;
    object-fit: cover;
}

p{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:justify;
    font-size: medium;
    text-align: center;
}